<div class="user__posts">
    <h2 class="user__posts--mainTitle w-100 text-center">Posts by User</h2>
    <div class="user__posts--card card">
        <div class="card-body">
            <p class="card-text">
                <small>User ID: {{ user?.id }}</small>
            </p>
            <hr />
            <div class="user__posts--title">
                <img class="user__info--avatar" src="{{ avatarUrl }}" alt="" />
                <span>
          <h4 class="user__posts--name card-title">{{ user?.name }}</h4>
          <p class="user__posts--username card-text">
            <small>Username: {{ user?.username }}</small>
          </p>
          <p class="card-text">
            <small>email: {{ user?.email }}</small>
        </p>
        <p class="card-text">{{ user?.website }}</p>
        </span>
            </div>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap">
    <div class="col-md-6" *ngFor="let post of posts">
        <div class="single-blog-user">
            <div class="single-blog-user--title">
                <small>Post ID: {{ post?.id }}</small><br>
                <small>User ID: {{ post?.userId }}</small>
            </div>
            <hr />
            <div class="single-blog-user--thumbnail">
                <img class="blog-img" src="https://picsum.photos/420/300" alt="blog-img" />
            </div>
            <div class="single-blog-user--content">
                <h4 class="blog-title">
                    <a routerLink="../../post-detail/{{ post.id }}">{{ post?.title }}</a>
                </h4>
                <div class="single-blog-user--body">
                    <p> {{ post?.body }}</p>
                   <small class="float-right">By {{user?.name}}</small>
                </div>
               
            </div>
        </div>
    </div>
</div>
