<div id="demo" class="carousel slide mb-5" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/1280/300" alt="Angular Nerds" />
            <div class="carousel-caption">
                <h3>Angular Nerds</h3>
                <p>The best *ngNews ever</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1280/300" alt="Angular Nerds" />
            <div class="carousel-caption">
                <h3>Angular Nerds</h3>
                <p>The best *ngNews ever</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1280/300" alt="Angular Nerds" />
            <div class="carousel-caption">
                <h3>Angular Nerds</h3>
                <p>The best *ngNews ever</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="home-posts-container">
    <h2>Latest Posts</h2>
    <app-home-post *ngFor="let post of posts | slice: 0:10; let i = index" [data]="post">
    </app-home-post>
</div>