.single-blog-item {
    margin: 2%;
    background: rgba(255, 255, 255, 0.726);
    border-radius: 3px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.159);
    padding: 2rem;
    color: black;
    & img.blog-img {
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    & .blog-title {
        margin-top: 2rem;
    }
}