<div class="card mt-2">
    <div class="card-header">Detalles</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nombre: Manuel Obando</li>
            <li class="list-group-item">Email: dfdfdf@gmail.com</li>
            <li class="list-group-item">Username: mobando</li>
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-success m-1">Edit</button>
        <button type="button" class="btn btn-outline-danger m-1">Delete</button>
    </div>
</div>

<button type="button" class="btn btn-outline-primary m-1">
  Go back to list
</button>