<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AngularNerds</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/user-list']">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/post-list']">Posts</a>
                </li>
            </ul>
        </div>
        <a class="nav-link btn btn-danger text-white float-right" [routerLink]="['/new-post']">Create Post</a
    >
  </div>
</nav>