.user__list{
    color: white;
    width: 100%;
    &--mainTitle{
       color: #fdfdfd;
    }
    &--card{
        margin: 1rem 0;
        background: rgba(17, 0, 0, 0.726);
        border-radius: 3px;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.159);
    }
    &--title {
        margin-bottom: 1rem;
        text-align: center;
        img {
            margin: 0 auto 1rem;
            max-width: 180px;
            display: block;
        }
        span{
            padding-top: 1rem;
        }
    }
    &--name{
        margin-bottom: 10px;
    }
    & input{
        outline: none;
        border-radius: 3px;
        border: none;
    }
}


.stopedit, .stopedit:hover {
    text-align: center;
    display: block;
    margin: 10px 0 0;
    color: #f04124;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}