<div class="single-blog-item">
    <div class="blog-top-title">
        <small>Post ID: {{ post?.id }}</small
    ><br />
    <small>User ID: {{ post?.userId }}</small>
    </div>
    <hr />
    <div class="blog-thumnail">
        <img class="blog-img" src="https://picsum.photos/420/300" alt="blog-img" />
    </div>
    <div class="blog-content">
        <h4 class="blog-title">
            <a routerLink="../post-detail/{{ post.id }}">{{ post?.title }}</a>
        </h4>
        <p class="blog-body">
            {{ post?.body }}
        </p>
        <div class="btn-group">
            <button routerLink="../post-detail/{{ post.id }}" class="btn btn-info">
        View Post
      </button>
            <button (click)="deletePost(post.id)" class="btn btn-danger">
        Delete Post
      </button>
        </div>
    </div>
</div>