.post-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
}

.post-single{
    margin: 20px auto;
    width: 30vw;
    height:fit-content;
}

.post__form{    
    position: fixed;
    width: 300px;
    top: -5rem;
    right: 0;
    z-index: 1031;
    padding: 1rem;
    background: rgba(17, 0, 0, 0.726);
    border-radius: 3px;
    box-shadow: 0 0 2rem rgb(0 0 0 / 16%);
    margin: 1rem;
    opacity: 0;
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    visibility: hidden;
    &.active{
        opacity: 1;
        top: 13vh;
        visibility: visible;
    }
    & textarea{
        border-radius: 3px;
    }
    & select{
        width: 100%;
    }
    &--times{
        position: absolute;
        top:5px;
        right:5px;
    }
}
