/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Quicksand:wght@300;400;600&display=swap");
@import "~bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/yeti/bootswatch";
body {
    padding-top: 4.5rem;
    background: rgb(34, 138, 195);
    background: linear-gradient( 160deg, rgb(15, 101, 158) 0%, rgb(0, 73, 141) 100%);
    font-family: "Noto Sans", sans-serif;
    color: white;
    position: relative;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

a{
    color: #46b8da;
    word-break: break-word;
}
p, span{
    word-break: break-word;
}
a:hover{
    color: #01c4ff;
    text-decoration: none;
}

.btn {
    border-radius: 20.5rem;
    padding: 0.5rem 0.9rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    transform: scale(1) translateY(0);
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
    &:hover {
        transform: scale(1.08) translateY(-1px);
    }
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: grey;
    border-color: grey;
}

button[disabled]{
    background-color: grey;
    transform: scale(1) translateY(0);
    }
    
    button[disabled]:hover{
        background-color: grey;
        transform: scale(1) translateY(0);
        }

.form-control {
    border-radius: 20.5rem;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.navbar {
    background: rgba(17, 0, 0, 0.886) !important;
    padding: 1rem 0;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.689);
}

.overlay {
    height: 100vh;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url("../src/assets/svg/background.svg");
    background-size: cover;
    z-index: 0;
    opacity: 0.02;
}

input, select{
    border-radius: 20.5rem;
    padding: 5px;
    outline: none;
}