/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Quicksand:wght@300;400;600&display=swap');

@import "~bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/yeti/bootswatch";
body {
    padding-top: 4.5rem;
    background: rgb(34,138,195);
    background: linear-gradient(97deg, rgb(15, 101, 158) 0%, rgb(17, 140, 255) 100%);
    font-family: 'Noto Sans', sans-serif;
    color: white;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn{
    border-radius: 20.5rem;
    padding: 0.5rem 0.9rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
}


.form-control{
    border-radius: 20.5rem;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.navbar{
    background: rgba(0, 0, 0, 0.808)!important;
    padding: 1rem 0;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.589);
}

.overlay{
    height: 100vh;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url('../src/assets/svg/background.svg');
    background-size: cover;
    z-index: 0;
    opacity: 0.01;
}